

main.home

  //- textarea {{page.data.assets |json}}
  .row(ng-repeat="block in page.data.assets track by block._id"
    ng-switch="block.types[0]"
    id="{{block.name|normalize}}")

    .mediaWidget(ng-switch-when="image")
      .media
        imago-video(data="block" ng-if="block.fields.formats")
        imago-image(data="block" ng-if="!block.fields.formats")
      .caption
        //- h2 {{::block.fields.title.value}}
        .text(ng-bind-html="::block.fields.text.value")

    .accordionWidget(ng-switch-when="accordion" ng-class="{active: page.accordion === block.name}")
      h2(ng-click="page.accordion = block.name") {{::block.fields.title.value}}
      .text(ng-if="page.accordion === block.name" ng-bind-html="::block.fields.text.value")


  .contactWidget#contact
    h2 Contact me
    a(href="mailto:lara.haemmerle@gmail.com") lara.haemmerle@gmail.com
