h1
  span Lara
  span Haemmerle

nav
  a(du-smooth-scroll du-scrollspy href="\#about") Home
  a(du-smooth-scroll du-scrollspy href="\#bio") Bio
  a(du-smooth-scroll du-scrollspy href="\#contact") Contact
