.shop
  .padding
    .grid
      .item(ng-repeat="item in ::page.data.assets track by item._id" ng-class="item.kind")
        a(ng-href="{{::item.path}}")
          .media
            imago-image(
              ng-repeat="image in ::item.assets | limitTo: 2"
              data="image"
              sizemode="crop"
              )

        .caption
          a.title(ng-href="{{::item.path}}" ng-bind="::item | meta:'title'")
          .price(imago-find-price variants="item.variants")
          .options(find-options variants="item.variants" options="['color']")

